# Exclude Python and Django-related files
*.pyc
__pycache__/
venv/
.env
db.sqlite3

# Exclude Django-specific files
/media/
/static/

# Exclude Node and React-related files
node_modules/
build/
.env.local

# Exclude Docker-related files
*.swp
.DS_Store
.vscode/

# Ignore log files, temp files, and operating system specific files
*.log
npm-debug.log*
.DS_Store
.idea/